body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #4ed8c0;
    background-image: linear-gradient(90deg, #4ed8c0 0%, #1945ee 100%);
    
   
}

.quem-somos{
    background-color: black;
}

.faz{
    padding-top: 25px;
    color: white;
}

.margin{
    padding-top: 50px;
    padding-bottom: 50px;

}

.parceiros{
    padding: 25px;
    background-color: #4ed8c0;
    background-image: linear-gradient(90deg, #4ed8c0 0%, #1945ee 100%);

}

.bg-footer {
    background-color: black;
    color:white;
}




